@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=DM+Serif+Display&display=swap');

/*@layer base {
  body {
    @apply bg-slate-50 text-slate-800 font-sans;
  }
}*/


@media print {
  /* Hide everything except the receipt */
  nav, aside, header, button, .no-print {
    display: none !important;
  }
  body {
    background: white !important;
  }
  .print-receipt {
    display: block !important;
    padding: 40px;
  }
}